.minh {
	min-height: 500px;
}

#addBookPanel {
	width: 360px;
	height: 450px;
	padding: 20px;
	background: #ddd;
	border-radius: 5px;
	position: fixed;
	z-index: 2000;
	left: 50%;
	top: 40%;
	margin-top: -240px;
	margin-left: -180px;
	display: none;
}

#addBookPanel .form-control {
	width: 200px;
	display: inline-block;
	margin-top: 10px;
}

#addBookPanel label {
	width: 60px;
	margin-top: 20px;
	text-align: right;
	display: inline-block;
}

#addCategoryPanel {
	width: 460px;
	height: 85px;
	padding: 10px;
	background: #ddd;
	border-radius: 5px;
	position: fixed;
	z-index: 2000;
	left: 50%;
	top: 40%;
	margin-top: -50px;
	margin-left: -250px;
	display: none;
}

#addCategoryPanel .form-control {
	width: 350px;
	margin: 0;
	display: inline-block;
}

#addCoverPanel {
	width: 121px;
	height: 74px;
	padding: 20px;
	background: #ddd;
	border-radius: 5px;
	position: fixed;
	z-index: 2000;
	left: 50%;
	top: 40%;
	margin-top: -27px;
	margin-left: -55px;
	display: none;
}

#addAdminPanel {
	width: 260px;
	height: 85px;
	padding: 10px;
	background: #ddd;
	border-radius: 5px;
	position: fixed;
	z-index: 2000;
	left: 50%;
	top: 40%;
	margin-top: -50px;
	margin-left: -130px;
	display: none;
}

#addAdminPanel .form-control {
	width: 150px;
	margin: 0;
	display: inline-block;
}

.td-red {color: red;font-weight: bold;}
.td-gray{color: #9d9d9d;font-weight: bold;}
.td-green{color: #1c9d52;font-weight: bold;}